div.box1 {
    background-color: yellow;
    width: 600px;
    height: 200px;
}
.box1-2 {
    background-color: gray;
    width: 50px;
    height: 150px;
}
.box2 {
    background-color: pink;
    width: 400px;
    height: 150px;
}
.box2-2 {
    background-color: purple;
    width: 250px;
    height: 100px;
}
