body {
    background-color: #A5A2A1;
}

div.main-box {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

header {
    background-color: #DAAB97;
    text-align: center;
}

nav {
    background-color: #2A223D;
    height: 40px;
}

main {
    background-color: #F6F9EF;
    height: 400px;
}

footer {
    background-color: #C84169;
    height: 100px;
}
